In [1]:
# dictionary
# -Contain Mupltiple data
# -Duplicate value
# -Indexing
# -Ordered
# -Mutable

In [2]:
# d = {<key>:<value>,<key>:<value>,<key>:<value>}

In [5]:
d = {'a':'apple',
     'b':'ball',
     'c':'cat'}
print(len(d))
print(type(d))

3
<class 'dict'>

In [6]:
d = {'a':'apple',
     'b':'ball',
     'c':'cat',
    'A':'apple'}
print(d)

{'a': 'apple', 'b': 'ball', 'c': 'cat', 'A': 'apple'}

In [8]:
d = {'a':'apple',
     'b':'ball',
     'c':'cat',
    'A':'apple'}
print(d['a'])
print(d['b'])

apple
ball

In [10]:
d = dict()
d['a'] = 'Apple'
d['b'] = 'Ball'
print(d)

{'a': 'Apple', 'b': 'Ball'}

In [12]:
z = {'a': 'Apple', 'b': 'Ball'}
z['a'] = 'apple'
z

{'a': 'apple', 'b': 'Ball'}

In [13]:
d = {}
d['Ram'] = 9856554543
d['Shyam'] = 9809778765
d

{'Ram': 9856554543, 'Shyam': 9809778765}

In [14]:
d['Ram']

9856554543

In [16]:
info = dict()
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    phone = int(input("Enter phone = "))
    info[name] = phone
    
print(info)

Enter n = 2
Enter name = Ram
Enter phone = 9867665654
Enter name = Shyam
Enter phone = 9878776765
{'Ram': 9867665654, 'Shyam': 9878776765}

In [17]:
d['Ram'] = 9878776765
d

{'Ram': 9878776765, 'Shyam': 9809778765}

In [18]:
a = {'Ram': 9878776765, 'Shyam': 9809778765}
for i in a:
    print(i)

Ram
Shyam

In [19]:
a = {'Ram': 9878776765, 'Shyam': 9809778765}
for i in a.values():
    print(i)

9878776765
9809778765

In [20]:
a = {'Ram': 9878776765, 'Shyam': 9809778765}
for i in a.items():
    print(i)

('Ram', 9878776765)
('Shyam', 9809778765)

In [23]:
l = [('Ram', 9878776765),('Shyam', 9809778765)]
print(dict(l))

{'Ram': 9878776765, 'Shyam': 9809778765}

In [37]:
a = {'Ram': 9878776765, 'Shyam': 9809778765}
n = int(input("Enter n = "))
for i in a.items():
   
    if n == i[1]:
        print(i[0])

Enter n = 9878776765
Ram

In [39]:
# del pop()
a = {'Ram': 9878776765, 'Shyam': 9809778765}
del a['Ram']
print(a)

{'Shyam': 9809778765}

In [41]:
#pop()
a = {'Ram': 9878776765, 'Shyam': 9809778765}
b = a.pop('Ram')
print(b)
print(a)

9878776765
{'Shyam': 9809778765}

In [42]:
a = {('Ram','Hari'): 9878776765, 'Shyam': 9809778765}
print(a)

{('Ram', 'Hari'): 9878776765, 'Shyam': 9809778765}

In [43]:
a[('Ram', 'Hari')]

9878776765

In [44]:
a = {['Ram','Hari']: 9878776765, 'Shyam': 9809778765}
print(a)

TypeError: unhashable type: 'list'

In [46]:
# list inside dict
a = {'Ram': [9878776765,9808778765], 'Shyam': [9809778765,9089887865]}
a['Ram'][0]

9878776765

In [47]:
a = {'Ram': [9878776765,9808778765], 'Shyam': [9809778765,9089887865]}
a['Hari'] = [9845778765,9808667654]
print(a)

{'Ram': [9878776765, 9808778765], 'Shyam': [9809778765, 9089887865], 'Hari': [9845778765, 9808667654]}

In [49]:
a = {'Ram': [9878776765,9808778765], 'Shyam': [9809778765,9089887865]}
a['Ram'].append(9867665654)
a

{'Ram': [9878776765, 9808778765, '9867665654'],
 'Shyam': [9809778765, 9089887865]}

In [50]:
d = {}
d['Ram'] = [9809778765, 9089887865]
d['Shyam'] = [9809778765,9089887865]
d

{'Ram': [9809778765, 9089887865], 'Shyam': [9809778765, 9089887865]}

In [51]:
info = dict()
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    ntc_phone = int(input("Enter ntc phone = "))
    ncell_phone = int(input("Enter ncell phone = "))
    info[name] = [ntc_phone,ncell_phone]
    
print(info)

Enter n = 2
Enter name = Ram
Enter ntc phone = 9878776765
Enter ncell phone = 343243
Enter name = Shyam
Enter ntc phone = 9845445432
Enter ncell phone = 987656756
{'Ram': [9878776765, 343243], 'Shyam': [9845445432, 987656756]}

In [60]:
a = {'Ram': ['Kathmandu', 'Dhading'], 
     'Shyam': ['Kathmandu', 'Nuwakot'],
    'Hari':['Jhapa','Bara']}
address = input("Enter address = ")
for i in a.items():
    if address.lower() == i[1][0].lower():
        print(i)

Enter address = kathmandu
('Ram', ['Kathmandu', 'Dhading'])
('Shyam', ['Kathmandu', 'Nuwakot'])

In [5]:
a = {'Ram': ['Kathmandu', 'Dhading'], 
     'Shyam': ['Kathmandu', 'Nuwakot'],
    'Hari':['Jhapa','Bara']}
a.items()

dict_items([('Ram', ['Kathmandu', 'Dhading']), ('Shyam', ['Kathmandu', 'Nuwakot']), ('Hari', ['Jhapa', 'Bara'])])

In [7]:
# tuple inside list
a = {'Ram': ('Kathmandu', 'Dhading'), 
     'Shyam': ('Kathmandu', 'Nuwakot'),
    'Hari': ('Jhapa','Bara')}

In [8]:
for i in a.items():
    print(i)

('Ram', ('Kathmandu', 'Dhading'))
('Shyam', ('Kathmandu', 'Nuwakot'))
('Hari', ('Jhapa', 'Bara'))

In [10]:
a['Ram'] =('Kathmandu', 'Dang')
a

{'Ram': ('Kathmandu', 'Dang'),
 'Shyam': ('Kathmandu', 'Nuwakot'),
 'Hari': ('Jhapa', 'Bara')}

In [11]:
# dict inside list
a = [{'Name':'Ram','Address':'Kathmandu'},
   {'Name':'Shyam','Address':'Bara'},
    {'Name':'Nabin','Address':'Bhaktapur'}]
print(a)

[{'Name': 'Ram', 'Address': 'Kathmandu'}, {'Name': 'Shyam', 'Address': 'Bara'}, {'Name': 'Nabin', 'Address': 'Bhaktapur'}]

In [12]:
a[0]

{'Name': 'Ram', 'Address': 'Kathmandu'}

In [13]:
for i in a:
    print(i)

{'Name': 'Ram', 'Address': 'Kathmandu'}
{'Name': 'Shyam', 'Address': 'Bara'}
{'Name': 'Nabin', 'Address': 'Bhaktapur'}

In [14]:
for i in a:
    for j in i.items():
        print(j)

('Name', 'Ram')
('Address', 'Kathmandu')
('Name', 'Shyam')
('Address', 'Bara')
('Name', 'Nabin')
('Address', 'Bhaktapur')

In [16]:
for i in a:
    print(i['Name'])

Ram
Shyam
Nabin

In [17]:
a = [{'Name': 'Ram', 'Address': ['Kathmandu','Patan']}, 
     {'Name': 'Shyam', 'Address': ['Bara','Saptari']}, 
     {'Name': 'Nabin', 'Address': ['Bhaktapur','Nuwakot']}]
b = {'Name': 'Ram', 'Address': ['Kathmandu','Patan']}
a.append(b)
a

[{'Name': 'Ram', 'Address': ['Kathmandu', 'Patan']},
 {'Name': 'Shyam', 'Address': ['Bara', 'Saptari']},
 {'Name': 'Nabin', 'Address': ['Bhaktapur', 'Nuwakot']},
 {'Name': 'Ram', 'Address': ['Kathmandu', 'Patan']}]

In [20]:
a[0]['Address'][0]

'Kathmandu'

In [21]:
a = [{'Name': 'Ram', 'Address': {'Per':'Kathmandu','Tem':'Patan'}}, 
     {'Name': 'Shyam', 'Address': {'Per':'Bara','Tem':'Saptari'}}, 
     {'Name': 'Nabin', 'Address':{'Per':'Saptari','Tem':'Kathmandu'}}]
a

[{'Name': 'Ram', 'Address': {'Per': 'Kathmandu', 'Tem': 'Patan'}},
 {'Name': 'Shyam', 'Address': {'Per': 'Bara', 'Tem': 'Saptari'}},
 {'Name': 'Nabin', 'Address': {'Per': 'Saptari', 'Tem': 'Kathmandu'}}]

In [24]:
a[0]['Address']['Per']

'Kathmandu'

In [25]:
a = {1:{'Name': 'Ram', 'Address': {'Per':'Kathmandu','Tem':'Patan'}}, 
     2:{'Name': 'Shyam', 'Address': {'Per':'Bara','Tem':'Saptari'}}, 
     3:{'Name': 'Nabin', 'Address':{'Per':'Saptari','Tem':'Kathmandu'}}}
a

{1: {'Name': 'Ram', 'Address': {'Per': 'Kathmandu', 'Tem': 'Patan'}},
 2: {'Name': 'Shyam', 'Address': {'Per': 'Bara', 'Tem': 'Saptari'}},
 3: {'Name': 'Nabin', 'Address': {'Per': 'Saptari', 'Tem': 'Kathmandu'}}}

In [27]:
a[4] ={'Name': 'Nabin', 'Address':{'Per':'Saptari','Tem':'Kathmandu'}}
a

{1: {'Name': 'Ram', 'Address': {'Per': 'Kathmandu', 'Tem': 'Patan'}},
 2: {'Name': 'Shyam', 'Address': {'Per': 'Bara', 'Tem': 'Saptari'}},
 3: {'Name': 'Nabin', 'Address': {'Per': 'Saptari', 'Tem': 'Kathmandu'}},
 4: {'Name': 'Nabin', 'Address': {'Per': 'Saptari', 'Tem': 'Kathmandu'}}}

In [29]:
a[4]['Address']['Per'] = 'Patan'
a

{1: {'Name': 'Ram', 'Address': {'Per': 'Kathmandu', 'Tem': 'Patan'}},
 2: {'Name': 'Shyam', 'Address': {'Per': 'Bara', 'Tem': 'Saptari'}},
 3: {'Name': 'Nabin', 'Address': {'Per': 'Saptari', 'Tem': 'Kathmandu'}},
 4: {'Name': 'Nabin', 'Address': {'Per': 'Patan', 'Tem': 'Kathmandu'}}}

In [ ]:
# WAP to make dict inside dict
# WAP to make list inside dict
# WAP to make dict inside list