In [1]:
f = open('data.txt','x')
f.close()

In [6]:
# f = open('data1.txt','x')
# f.close()

In [2]:
f = open('data.txt','r')
b = f.read()
print(b)
f.close()

1.Hello World
2.Hello World
3.Hello World
4.Hello World
5.Hello World
6.Hello World
7.Hello World

In [4]:
f = open('data.txt','r')
b = f.read(20)
print(b)
print(type(b))
f.close()

1.Hello World
2.Hell
<class 'str'>

In [5]:
f = open('data.txt','r')
b = f.readline()
print(b)
f.close()

1.Hello World

In [10]:
f = open('data.txt','r')
b = f.read()
c = b.split('\n')
line_no = int(input("Enter line no = "))
print(c[line_no-1])
f.close()

Enter line no = 1
1.Hello World

In [11]:
f = open('data.txt','a')
b = f.write('\nHello World\n')
f.close()

In [12]:
info = ""
add = 0
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter product name = ")
    price = int(input("Enter unit price = "))
    quantity = int(input("Enter quantity = "))
    total = price*quantity
    s = f"{name} {price} {quantity} {total}\n"
    info = info+s
    add = add+total
    
print("The blling is = \n",info)
print("The total price is = ",add)

f = open('bill.txt','a')
b = f.write(info)
f.close()

Enter n = 2
Enter product name = Apple
Enter unit price = 200
Enter quantity = 3
Enter product name = Ball
Enter unit price = 40
Enter quantity = 5
The blling is =
 Apple 200 3 600
Ball 40 5 200

The total price is =  800

In [ ]:
f = open('bill.csv','w')
f.write("Name,Price,Quantity,Total\n")
f.close()

In [16]:
info = ""
add = 0
n = int(input("Enter n = "))

for i in range(n):
    name = input("Enter product name = ")
    price = int(input("Enter unit price = "))
    quantity = int(input("Enter quantity = "))
    total = price*quantity
    s = f"{name},{price},{quantity},{total}\n"
    info = info+s
    add = add+total
    
print("The blling is = \n",info)
print("The total price is = ",add)
f = open('bill.csv','a')
b = f.write(info)
f.close()

Enter n = 2
Enter product name = Apple
Enter unit price = 200
Enter quantity = 3
Enter product name = Banana
Enter unit price = 100
Enter quantity = 4
The blling is =
 Apple,200,3,600
Banana,100,4,400

The total price is =  1000

In [17]:
file = open('bill.csv')
print(file.read())
file.close()

Name,Price,Quantity,Total
Apple,200,3,600
Banana,100,4,400

In [19]:
import pandas as pd
df = pd.read_csv('bill.csv')
df

     Name  Price  Quantity  Total
0   Apple    200         3    600
1  Banana    100         4    400

In [21]:
import os
if os.path.exists('data.txt'):
    os.remove('data.txt')
else:
    print("The is no such file")

The is no such file