In [1]:
# # python collection
# list
# tuple
# set
# dict

In [2]:
# list
# -Contain Mupltiple data
# -Duplicate value
# -Indexing
# -Ordered
# -Mutable

In [4]:
a = [1,2,3,4,5,6,7,8,9]
b = ["Apple","Ball","Cat","Dog"]
print(type(a))
print(b)

<class 'list'>
['Apple', 'Ball', 'Cat', 'Dog']

In [6]:
b = ["Apple","Ball","Cat","Dog","Apple"]
print(b)
print(b*2)

['Apple', 'Ball', 'Cat', 'Dog', 'Apple']
['Apple', 'Ball', 'Cat', 'Dog', 'Apple', 'Apple', 'Ball', 'Cat', 'Dog', 'Apple']

In [13]:
b = ["Apple","Ball","Cat","Dog","Apple"]
b[1]

'Ball'

In [14]:
b = ["Apple","Ball","Cat","Dog","Apple"]
b[0:30]

['Apple', 'Ball', 'Cat', 'Dog', 'Apple']

In [17]:
b = ["Apple","Ball","Cat","Dog","Apple"]
b[0:4:2]

['Apple', 'Cat']

In [19]:
a = ["Apple","Ball"]
b = ["Cat"]
print(b+a)

['Cat', 'Apple', 'Ball']

In [22]:
a = ["Apple","Ball"]
a[0] = "Ant"
print(a)

['Ant', 'Ball']

In [26]:
a = "Hello World"
a = a.replace("Hello","hello")
print(a)

hello World

In [30]:
x = []
a = "Apple"
b = "Ball"
c = x+[a]
d = c+[b]
print(d)

['Apple', 'Ball']

In [31]:
a = []
# a = list()
n = int(input("Enter n = "))
for i in range(n):
    x = input("Enter x = ")
    a = a+[x]
    
print(a)

Enter n = 3
Enter x = Apple
Enter x = Ball
Enter x = cat
['Apple', 'Ball', 'cat']

In [34]:
a = []
# a = list()
n = int(input("Enter n = "))
for i in range(n):
    x = int(input("Enter x = "))
    a = a+[x]
    
print(a)
print("Sum = ",sum(a))
print("Max = ",max(a))
print("Min = ",min(a))
print("Avg = ",sum(a)/n)

Enter n = 5
Enter x = 23432
Enter x = 24242
Enter x = 2423423
Enter x = 224232
Enter x = 23324
[23432, 24242, 2423423, 224232, 23324]
Sum =  2718653
Max =  2423423
Min =  23324
Avg =  543730.6

In [36]:
a = [23432, 24242, 2423423, 224232, 23324]
a.sort()
print(a)

[23324, 23432, 24242, 224232, 2423423]

In [37]:
a = ["Ball","Apple","Zoo","Xray"]
a.sort()
print(a)

['Apple', 'Ball', 'Xray', 'Zoo']

In [38]:
a = ['Apple', 'Ball', 'Xray', 'Zoo']
for i in a:
    print(i)

Apple
Ball
Xray
Zoo

In [39]:
a = ['Apple', 'Ball', 'Xray', 'Zoo']
b == "Apple"
if b in a:
    print("Yes")

Yes

In [40]:
a = ['Apple', 'Ball', 'Xray', 'Zoo','apple']
b == "Apple"
if b in a:
    print("Yes")

Yes

In [42]:
c =0
a = ['Apple', 'Ball', 'Xray', 'Zoo','apple']
b == "Apple"
for i in a:
    if i ==b:
        c = c+1
        print("Yes")
print(c)

Yes
1

In [54]:
c =0
a = ['Apple', 'Ball', 'Xray', 'apple','Zoo',]
b = input("Enter b = ")
for i in a:
    if i.lower() == b.lower():
        print(i)
        c = c+1
print(c)

Apple
apple
2

In [55]:
# append()  insert()  extend()

In [56]:
a = []
b = "Ball"
a.append(b)
print(a)

['Ball']

In [57]:
a = []

a.append("Apple")
a.append("Ball")
a.append("cat")
print(a)

['Apple', 'Ball', 'cat']

In [58]:
a = []
# a = list()
n = int(input("Enter n = "))
for i in range(n):
    x = int(input("Enter x = "))
    a.append(x)
    
print(a)
print("Sum = ",sum(a))
print("Max = ",max(a))
print("Min = ",min(a))
print("Avg = ",sum(a)/n)

Enter n = 4
Enter x = 213
Enter x = 234
Enter x = 123
Enter x = 243
[213, 234, 123, 243]
Sum =  813
Max =  243
Min =  123
Avg =  203.25

In [59]:
a = ["Aplle","Ball","Cat"]
a.append("Dog")
print(a)

['Aplle', 'Ball', 'Cat', 'Dog']

In [60]:
# insert()
a = ['Apple', 'Ball', 'Cat', 'Dog']
a.insert(1,'Fish')
print(a)

['Aplle', 'Fish', 'Ball', 'Cat', 'Dog']

In [2]:
# extend()
a = [1,2,3,4]
b = [5,6,7,8,9]
a.extend(b)
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [3]:
# del remove() pop()
a = ['Apple', 'Fish', 'Ball', 'Cat', 'Dog']
del a[0]
print(a)

['Fish', 'Ball', 'Cat', 'Dog']

In [5]:
a = ['Apple', 'Fish', 'Ball', 'Cat', 'Dog']
del a[0:3]
print(a)

['Cat', 'Dog']

In [6]:
# remove()
a = ['Apple', 'Fish', 'Ball', 'Cat', 'Dog']
a.remove('Apple')
print(a)

['Fish', 'Ball', 'Cat', 'Dog']

In [14]:
# remove()
a = ['Apple', 'Fish', 'Ball', 'Cat', 'Dog','Apple']
b = "Apple"
c = a.count(b)
for i in range(c):
    if b in a:
        a.remove(b)
    
    print(a)

['Fish', 'Ball', 'Cat', 'Dog', 'Apple']
['Fish', 'Ball', 'Cat', 'Dog']

In [16]:
# remove()
x = []
a = ['Apple', 'Fish', 'Ball', 'Cat', 'Dog','Apple']
b = "Apple"
l = len(a)
for i in range(l):
    if b != a[i]:
        x.append(a[i])
print(x)

['Fish', 'Ball', 'Cat', 'Dog']

In [18]:
# pop()
a = ['Apple', 'Fish', 'Ball', 'Cat', 'Dog','Apple']
b = a.pop(0)
print(a)

['Fish', 'Ball', 'Cat', 'Dog', 'Apple']

In [20]:
a = ['Apple', 'Fish', 'Ball', 'Cat', 'Dog','Apple']
a.index('Apple')

0

In [21]:
a = ['Apple', 'Fish', 'Ball', 'Cat', 'Dog','Apple']
for i in range(len(a)):
    if "Apple" == a[i]:
        print(i)

0
5

In [22]:
info = ""
add = 0
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter product name = ")
    price = int(input("Enter unit price = "))
    quantity = int(input("Enter quantity = "))
    total = price*quantity
    s = f"{name} {price} {quantity} {total}\n"
    info = info+s
    add = add+total
    
print("The blling is = \n",info)
print("The total price is = ",add)

Enter n = 2
Enter product name = Apple
Enter unit price = 200
Enter quantity = 4
Enter product name = Ball
Enter unit price = 4
Enter quantity = 200
The blling is =
 Apple 200 4 800
Ball 4 200 800

The total price is =  1600

In [26]:
info.split('\n')

['Apple 200 4 800', 'Ball 4 200 800', '']

In [30]:
info = 'Apple 200 4 800.Ball 4 200 800'
x = info.split('.')
print(x)

['Apple 200 4 800', 'Ball 4 200 800']

In [32]:
x[1]

'Ball 4 200 800'

In [36]:
# list inside list
a = [[1,2,3,],[4,5,6],[7,8,9]]
print(a)

[[1, 2, 3], [4, 5, 6], [7, 8]]

In [34]:
len(a)

3

In [38]:
a = [['Apple',200 ,4 ,800], ['Ball',4 ,200 ,800]]
a[1]

['Ball', 4, 200, 800]

In [45]:
# list inside list
a = [[1,2,3,4],
     [4,5,6],
     [7,8,9]]
print(type(a))

<class 'list'>

In [47]:
a[0][0]

1

In [50]:
a = [['Apple',200 ,4 ,800], ['Ball',4 ,200 ,800]]
a[0] = ['Pineapple',100,2,200]
a

[['Pineapple', 100, 2, 200], ['Ball', 4, 200, 800]]

In [52]:
a = [['Apple',200 ,4 ,800], ['Ball',4 ,200 ,800]]
a[0][0] = "Pineapple"
a

[['Pineapple', 200, 4, 800], ['Ball', 4, 200, 800]]

In [59]:
print(info)
output = []
x = info.split('.')
print(x)

for i in x:
    y = i.split()
    output.append(y)
    
print(output)

Apple 200 4 800.Ball 4 200 800
['Apple 200 4 800', 'Ball 4 200 800']
[['Apple', '200', '4', '800'], ['Ball', '4', '200', '800']]

In [60]:
a = 1
b = 2
c = 3
d = [a,b,c]
print(d)

[1, 2, 3]

In [61]:
info = []
add = 0
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter product name = ")
    price = int(input("Enter unit price = "))
    quantity = int(input("Enter quantity = "))
    total = price*quantity
    data = [name,price,quantity,total]
    info.append(data)
    add = add +total
    
print("The blling is = \n",info)
print("The total price is = ",add)

Enter n = 2
Enter product name = Apple
Enter unit price = 100
Enter quantity = 3
Enter product name = Ball
Enter unit price = 340
Enter quantity = 3
The blling is =
 [['Apple', 100, 3, 300], ['Ball', 340, 3, 1020]]
The total price is =  1320