In [1]:
# tuple
# -Contain Mupltiple data
# -Duplicate value
# -Indexing
# -Ordered
# -IMutable

In [3]:
a = (1,2,3,4)
b = ("Apple","Ball","Cat")

print(type(a))
print(type(b))

<class 'tuple'>
<class 'tuple'>

In [10]:
a = (1,2,3,4)
b = ("Apple","Ball","Cat",)
c = a+b
print(c)

(1, 2, 3, 4, 'Apple', 'Ball', 'Cat')

In [8]:
s = ("Apple",)
type(s)

tuple

In [9]:
a = ()
b = ("Apple",)
c = a+b
c

('Apple',)

In [11]:
t = tuple()
n = int(input("Enter n = "))
for i in range(n):
    x = input("Enter x = ")
    t = t+(x,)
print(t)

Enter n = 5
Enter x = adssd
Enter x = asdad
Enter x = sfsdfsd
Enter x = asd
Enter x = dfgd
('adssd', 'asdad', 'sfsdfsd', 'asd', 'dfgd')

In [12]:
def cal():
    a = 10
    b = 20
    return a,b

cal()

(10, 20)

In [13]:
# search indexing max min sum
# we can not  update , delete , sort

In [15]:
a = (1, 2, 3, 4, 'Apple', 'Ball', 'Cat')
a[0:8:2]

(1, 3, 'Apple', 'Cat')

In [18]:
a = (23423,345,3532,324234,465464,234)
print(max(a))
print(min(a))
sum(a)

465464
234

817232

In [21]:
a = (23423,345,3532,324234,465464,234)
print(sorted(a))
print(a)

[234, 345, 3532, 23423, 324234, 465464]
(23423, 345, 3532, 324234, 465464, 234)

In [23]:
a = (23423,345,3532,324234,465464,234)
b = list(a)
del b[0]
b

[345, 3532, 324234, 465464, 234]

In [24]:
a = tuple(b)
a

(345, 3532, 324234, 465464, 234)

In [1]:
# tuple inside tuple
# list inside tuple
# tuple inside list

In [2]:
a = ((1,2,3),(4,5,6),(7,8,9))
print(a[0])

(1, 2, 3)

In [4]:
t = tuple()
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    age = input("Entre age = ")
    add = input("Enter add = ")
    x = (name,age,add)
    t = t+(x,)
print(t)

Enter n = 2
Enter name = Ram
Entre age = 34
Enter add = Kathmandu
Enter name = Shyam
Entre age = 45
Enter add = Pokhara
(('Ram', '34', 'Kathmandu'), ('Shyam', '45', 'Pokhara'))

In [5]:
a = (('Ram', '34', 'Kathmandu'), ('Shyam', '45', 'Pokhara'))
list(a)

[('Ram', '34', 'Kathmandu'), ('Shyam', '45', 'Pokhara')]

In [6]:
#tuple inside list
a = [('Ram', '34', 'Kathmandu'), 
     ('Shyam', '45', 'Pokhara')]
print(a)

[('Ram', '34', 'Kathmandu'), ('Shyam', '45', 'Pokhara')]

In [7]:
a[0] = ('Rama','34','Patan')
a

[('Rama', '34', 'Patan'), ('Shyam', '45', 'Pokhara')]

In [11]:
a = [('Rama', '34', 'Patan'), ('Shyam', '45', 'Pokhara')]
x = ('Hari','34','Kathmandu')
a.append(x)
a

[('Rama', '34', 'Patan'),
 ('Shyam', '45', 'Pokhara'),
 ['Hari', '34', 'Kathmandu']]

In [9]:
a = [('Ram', '34', 'Kathmandu'), ('Shyam', '45', 'Pokhara')]
a[0][0] = 'rama'
a

TypeError: 'tuple' object does not support item assignment

In [13]:
a = (['Ram', '34', 'Kathmandu'], ['Shyam', '45', 'Pokhara'])
a[0] = ['Hari', 45, 'Dang']
print(a)

TypeError: 'tuple' object does not support item assignment

In [ ]:
a = (['Ram', '34', 'Kathmandu'], ['Shyam', '45', 'Pokhara'])
a[0].append()
print(a)

In [15]:
a = (('Ram', '34', 'Kathmandu'), ('Shyam', '45', 'Pokhara'))
l = []
for i in range(len(a)):
    x = list(a[i])
    l.append(x)
    
print(l)

[['Ram', '34', 'Kathmandu'], ['Shyam', '45', 'Pokhara']]

In [16]:
a = [['Ram', '34', 'Kathmandu'], ['Shyam', '45', 'Pokhara']]
l = ()
for i in range(len(a)):
    x = tuple(a[i])
    l = l+(x,)
print(l)

(('Ram', '34', 'Kathmandu'), ('Shyam', '45', 'Pokhara'))

In [19]:
# WAP to make a matrix using list or tuple
m = []
i = int(input("Enter i = "))
j = int(input("Enter j = "))
for k in range(i):
    x = []
    for l in range(j):
        data = int(input("Enter data = "))
        x.append(data)
    m.append(x)
    
print(m)

Enter i = 2
Enter j = 2
Enter data = 1
Enter data = 2
[[1, 2]]
Enter data = 3
Enter data = 4
[[1, 2], [3, 4]]
[[1, 2], [3, 4]]

##